In [14]:
import pandas as pd
import glob
import json

In [11]:
json_files_path = '/root/projects/Ben_Kishore/modelmanagement/model_scrape/*Model*.json'

In [41]:
dataframes = [pd.read_json(file) for file in glob.glob(json_files_path)]
combined_df = pd.concat(dataframes, ignore_index=True)

In [42]:
combined_df = combined_df.drop_duplicates(subset='link')

In [34]:
combined_df

,id,name,slug,premium,link
0,3972534,Laure,laure-bartolini,False,https://www.modelmanagement.com/model/laure-ba...
1,3972389,Michelle,michelle-milann,False,https://www.modelmanagement.com/model/michelle...
2,3973026,María,maria-fernanda-diaz-gonzalez,False,https://www.modelmanagement.com/model/maria-fe...
3,3962229,Zana,zana-flores,True,https://www.modelmanagement.com/model/zana-flores
4,1753581,Chloé,chloe-martinez-2,False,https://www.modelmanagement.com/model/chloe-ma...
...,...,...,...,...,...
83749,690,Monika,monika-gocman,False,https://www.modelmanagement.com/model/monika-g...
83750,676,isabella,isabella-syrek,True,https://www.modelmanagement.com/model/isabella...
83751,638,Nicoletta,nicoletta-mandriotti,False,https://www.modelmanagement.com/model/nicolett...
83752,632,Isabela,isabela-devoto,False,https://www.modelmanagement.com/model/isabela-...
83755,277,Adam,adam-bahadoor,False,https://www.modelmanagement.com/model/adam-bah...

In [43]:
out_path = '/root/projects/Ben_Kishore/modelmanagement/model_scrape/'
combined_df.to_json(f'{out_path}entries_full.json',orient='records', indent=4)

In [45]:
len(combined_df)

54716